@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="justify-content: flex-end; display: flex;">
            <NavLink class="nav-link" href="Siteraw">
                <span class="bi bi-person" aria-hidden="true"></span> Raw
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>