<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="/studentdashboard" class="nav-link" Match="NavLinkMatch.All">
                Student Dashboard
            </NavLink>
        </li>
        <li>
            <NavLink href="/tutordashboard" class="nav-link">
                Tutor Dashboard
            </NavLink>
        </li>
        <li>
            <NavLink href="/admindashboard" class="nav-link">
                Admin Dashboard
            </NavLink>
        </li>
        <li>
            <NavLink href="/publicforum" class="nav-link">
                Public Forum
            </NavLink>
        </li>
        <li>
            <NavLink href="/profile" class="nav-link">
                Profile
            </NavLink>
        </li>
        <li>
            <NavLink href="/courses" class="nav-link">
                Courses
            </NavLink>
        </li>
        <li>
            <NavLink href="/feedback" class="nav-link">
                Feedback
            </NavLink>
        </li>
        <li>
            <NavLink href="/siteraw" class="nav-link">
                Siteraw
            </NavLink>
        </li>
        <li>
            <NavLink href="/chatbot" class="nav-link">
                Chat Bot
            </NavLink>
        </li>
    </ul>
</nav>